// colors
$primary: #000000;
$secondary: #FFFFFF;
$danger: #fb2d2d;

$primaryHover: #414141;
$secondaryHover: #e9e9e9;
$dangerHover: #ff4c4c;
$secondaryText: #cecece;

$hoverShadow: #7777773b;
$accent: #1475fd;