@import '../../styles/variables';

.notePage {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 68px 34px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .pickerContainer {
    position: absolute;
    .picker {
      position: relative;
      z-index: 3;
      top: 150px;
    }
    .cover {
      z-index: 1;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
  .actionBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -40px;
    margin-bottom: 20px;
    .colorLabel {
      display: grid;
      grid-template-columns: auto auto;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      .label {
        font-size: 14px;
        color: $primary;
      }
      .noteColor {
        height: 28px;
        width: 28px;
        border-radius: 3px;
        border: 1px solid $secondaryText;
      }
      &:hover{
        .label {
          color: $primaryHover;
        }
        .noteColor {
          box-shadow: 0 0 2px 1px $hoverShadow;
        }
      }
    }
    .buttonContainer {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 14px;
      align-items: center;
      justify-content: flex-end;
    }
  }
}