@import '../../styles/variables';

.notePage {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 68px 34px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .actionBar {
    display: grid;
    grid-template-columns: auto auto;
    gap: 14px;
    align-items: center;
    justify-content: flex-end;
    margin-top: -40px;
    margin-bottom: 20px;
  }
  .titleInput {
    width: 100%;
    height: 86px;
    font-size: 46px;
    padding: 0 20px;
    border: none;
    outline: none;
    color: $primary;
    margin-bottom: 38px;
    &::placeholder {
      font-weight: 400;
      color: $secondaryText;
    }
  }
  .textInput {
    font-size: 18px;
    width: 100%;
    padding: 0 20px;
    border: none;
    outline: none;
    color: $primary;
    flex: 1;
    &::placeholder {
      font-weight: 400;
      color: $secondaryText;
    }
  }
}